.Gallery {
    max-width: 100%;
    height: auto;
    margin: 22px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    .Gallery {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1240px) {
    .Gallery {
        background: #f7f7f7;
        border-radius: 25px;
        padding: 10px 10px;
        justify-content: flex-start;
        margin: 43px auto;
    }
}

@media only screen and (min-width: 1440px) {
    .Gallery {
        padding: 25px 20px;
    }
}
