.Wrap-Kasa {
    height: auto;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .Wrap-Kasa {
        max-width: 1240px;
    }
}

@media only screen and (min-width: 1240px) {
    .Wrap-Kasa {
        max-width: 1440px;
    }
}

@media only screen and (min-width: 1440px) {
    .Wrap-Kasa {
        max-width: 1940px;
    }
}
