#Banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    /* margin: 0 20px; */
    max-width: 728px;
}

#Banner.Banner-Home {
    height: 111px;
}

#Banner.Banner-About {
    height: 223px;
}

.Banner-About h1 {
    font-size: 0px;
}

.Banner-Image {
    background: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.Banner-Mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 10px;
}

.Banner-Text {
    position: absolute;
    padding: 0 100px 0 16px;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    #Banner {
        margin: 0 auto;
        max-width: 100%;
    }
    .Banner-Text {
        padding: 0;
    }
}

@media only screen and (min-width: 1240px) {
    #Banner,
    .Banner-Image,
    .Banner-Mask {
        border-radius: 25px;
    }

    #Banner.Banner-Home {
        height: 223px;
    }

    #Banner.Banner-About {
        margin-top: 10px;
    }

    .Banner-Text {
        font-size: 48px;
    }
}
